/*idk if i need this wrapper */
#wrapper {
    width:500px;
}

body { 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h2 {
    text-align: center;
    background-color:#3A4E5F;
    color: #EBEBEB;
    padding: 20px;
}

h3 { 
    
}

.introduction-text {
    text-align: center;
    font-size: larger;
    margin: 20px;
    padding: 250px 80px;
  }

footer {
    background-color:#3A4E5F;
    color: #EBEBEB;
    padding: 20px;
}

footer a {
    color: white;
    margin-right: 20px;
    font-size: 1.5rem
}

footer h3 {
    font-size: 1.3rem;
}

.button-resume { 
    background-color: #3A4E5F;
    padding: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin:auto;
}

/* center button div */
.button-resume-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.button-text { 
    font-size: 1rem;
    color:#EBEBEB
}

/* photos */ 
img {
    display: flex;
    width: 100%;
}

/* menu navigation bar */
nav {
    background-color: #3A4E5F;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }
/* I want to change body bold for projects */ 
  bold {
    color:;
  }