#wrapper {
    width:500px;
}

body { 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h2 {
    text-align: center;
    background-color:#3A4E5F;
    color: #EBEBEB;
    padding: 20px;
}

h3 { 
    
}
footer {
    background-color:#3A4E5F;
    color: #EBEBEB;
    padding: 20px;
}

footer a {
    color: white;
    margin-right: 20px;
    font-size: 1.5rem
}

footer h3 {
    font-size: 1.3rem;
}


.hamburger {
    margin-right: 10px;
    float:right;
}

span {
height: 3px;
width: 30px;
background: rgb(0, 0, 0);
display: block;
margin-bottom: 5px;  
}

.menu_navigation {
    background-color: ;
}


/* center this?*/
.button-resume { 
    background-color: #3A4E5F;
    padding: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin:auto;
}
/* center button div */
.button-resume-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;
}

.button-text { 
    font-size: 1rem;
    color:#EBEBEB
}

/* photos */ 
img {
    display: flex;
    width: 100%;
}