    
/*@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}*/

/* FIX THIS */
body { 
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

footer {
    background-color:#3A4E5F;
    color: #EBEBEB;
    padding: 25px;
}


.hamburger {
    margin-right: 10px;
    float:right;
}

span {
height: 3px;
width: 30px;
background: rgb(0, 0, 0);
display: block;
margin-bottom: 5px;  
}

.menu_navigation {
    background-color: ;
}


    
